# Database URL for Prisma
# You can use your Supabase connection string here
# Format: postgresql://username:password@hostname:port/database?schema=public
DATABASE_URL="postgresql://user:password@localhost:5432/tr-bbs?schema=public"

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SIGNING_SECRET=